<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881106321910-bb8uivftbs7l4jas5m21gg9jp4f0blua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881106321910-bb8uivftbs7l4jas5m21gg9jp4f0blua</string>
	<key>API_KEY</key>
	<string>AIzaSyBIY1LeHev-ht51cILww8H3KQSariRjAeo</string>
	<key>GCM_SENDER_ID</key>
	<string>881106321910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fanonx.flashChatFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>thunder-chat-4a997</string>
	<key>STORAGE_BUCKET</key>
	<string>thunder-chat-4a997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881106321910:ios:758a34a757f5094a</string>
	<key>DATABASE_URL</key>
	<string>https://thunder-chat-4a997.firebaseio.com</string>
</dict>
</plist>